%p Welcome to Know Your Company (clone)

- @company.employees.each do |e|
  %li
    = link_to e.email, owner_show_employee_questions_path(e)

Add Employee for #{@company.name}:

%p
  = nested_form_for [:owner, @company], url: add_employee_owner_company_path do |f|
    = f.fields_for :users, @company.users.build do |employee_form|
      = employee_form.label "Employee's Email Address"
      = employee_form.text_field :email
    = f.link_to_add "Add Employee", :users
    = f.submit "Add Employee(s) and send email invites"
    
    
= link_to "Sign Out", destroy_user_session_path, :method => :delete